<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <% if (products.length > 0){ %>
                        <ul>
                                <% products.forEach(p => { %>
                                        <l1>
                                               <p><%= p.productData.title %> ( <%=p.qty %>)</p>
                                               <form action ='/cart-delete-item' method = 'POST'>
                                                        <input type = 'hidden' value = '<%= p.productData.id %>' name = 'productId'>
                                                        <button class = 'btn' type = 'submit'>Delete</button> 
                                               </form>
                                        </l1>
                                <%}) %>
                        </ul>
                        <% } else { %>
                                <h1> No products in Cart</h1>
                                <% }%> 

                        </main>
        <%- include('../includes/end.ejs') %>